<!doctype html>
<html>
<head>
<link rel='stylesheet' href='checkboxlist.css'/>
<style style='text/css'>
	li{
		list-style: none outside none;
	}

	ul li{
		margin: 0 !important;
		padding: 0 !important;
	}
</style>
<script src="angular.min.js"></script>
<script src="angular-my-checkBoxList.js"></script>

<script type='text/javascript'>
	// console.log(angular);
	angular.module('app', ['my.checkboxlist'])
		.controller('Controller', ['$scope', '$compile', function($scope, $compile){
			$scope.book = [
				{label: 'Angular definition guide', value: 1},
				{label: 'Head first Angular', value: 2}
			];

			$scope.country = [
				{label: 'China', value: 1},
				{label: 'USA', value: 2},
				{label: 'UK', value: 3},
				{label: 'Japan', value: 4},
				{label: 'Korea', value: 5}
			];
			$scope.checkboxValue = 123;
		}]);
		
</script>
</head>

<body >
	<div ng-app='app'>
		<div ng-controller='Controller' id='cc'>
			<!-- <button ng-click='addToDo()'>Add new to-do-list</button> -->
			<h2>Angular CheckboxList</h2>

			<!-- 
			<todolist id='todo1' info='study'></todolist>
			<todolist id='todo2' info='play'></todolist>
			<todolist id='todo3' info='eat'></todolist>
			<input type='text' ng-model='checkboxValue'> -->
			<my-checkboxlist id='todo1' my-combobox custom-option='country' ng-model='checkboxValue'></my-checkboxlist>
			<!-- <div id='todo1' my-combobox custom-data-store='country'></div> -->
<!-- 				<div id='todo2' my-combobox ng-name='play'></div>
			<div id='todo3' my-combobox ng-name='eat'></div> -->
		</div>
	</div>
</body>
</html>