.myNumberspinner{
	float: left;
	width: 200px;
	position: relative;
	border: 1px solid grey;
	/*margin: 10px;*/
	/*border: 1px solid grey;*/
	/*border-radius: 5px;*/
}

.myNumberspinner.error{
	border: 1px solid red;
}

.myNumberspinner .numberContainer{
	/*display: inline-block*/
	padding-right: 20px;
}

.myNumberspinner .numberContainer input{
	border: medium none;
}

.myNumberspinner .numberContainer input:focus{
	outline: none;
}


.myNumberspinner .buttonContainer{
	border-left: 1px solid gray;
	cursor: pointer;
	float: right;
	width: 20px;
}

.myNumberspinner .buttonContainer .up{
	background: url('buttonArrows.png');
	background-position: 91px -3px;
	width: 100%;
	height: 10px;
}

.myNumberspinner .buttonContainer .down{
	background: url('buttonArrows.png');
	background-position: 40px -3px;
	width: 100%;
	height: 10px;
	border-top: 1px solid gray;
}

.inputContainer{
	width: 100%;
}